# Dependencies
/node_modules
/.pnpm-store

# Next.js build output
/.next/
/out/

# Production build output
/build
/dist

# Debug logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Environment & secret files
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel deployment
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS & Editor specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local persistent dev data
/data/

